version: '2.4'

services:
  # ResultSample service
  alsvc_resultsample:
    image: cccs/assemblyline-service-resultsample:latest
    environment:
      - SERVICE_API_HOST=http://al_service_server:5003

  # APKaye service
  alsvc_apkaye:
    image: cccs/assemblyline-service-apkaye:latest
    environment:
      - SERVICE_API_HOST=http://al_service_server:5003

  # Beaver service
  alsvc_beaver:
    image: cccs/assemblyline-service-beaver:latest
    environment:
      - SERVICE_API_HOST=http://al_service_server:5003

  # Characterize service
  alsvc_characterize:
    image: cccs/assemblyline-service-characterize:latest
    environment:
      - SERVICE_API_HOST=http://al_service_server:5003

  # Cleaver service
  alsvc_cleaver:
    image: cccs/assemblyline-service-cleaver:latest
    environment:
      - SERVICE_API_HOST=http://al_service_server:5003

  # Crowbar service
  alsvc_crowbar:
    image: cccs/assemblyline-service-crowbar:latest
    environment:
      - SERVICE_API_HOST=http://al_service_server:5003

  # Cuckoo service
  alsvc_cuckoo:
    image: cccs/assemblyline-service-cuckoo:latest
    environment:
      - SERVICE_API_HOST=http://al_service_server:5003

  # EmlParser service
  alsvc_emlparser:
    image: cccs/assemblyline-service-emlparser:latest
    environment:
      - SERVICE_API_HOST=http://al_service_server:5003

  # Espresso service
  alsvc_espresso:
    image: cccs/assemblyline-service-espresso:latest
    environment:
      - SERVICE_API_HOST=http://al_service_server:5003

  # Extract service
  alsvc_extract:
    image: cccs/assemblyline-service-extract:latest
    environment:
      - SERVICE_API_HOST=http://al_service_server:5003

  # Floss service
  alsvc_floss:
    image: cccs/assemblyline-service-floss:latest
    environment:
      - SERVICE_API_HOST=http://al_service_server:5003

  # Frankenstrings service
  alsvc_frankenstrings:
    image: cccs/assemblyline-service-frankenstrings:latest
    environment:
      - SERVICE_API_HOST=http://al_service_server:5003

  # FSecure service
  alsvc_fsecure:
    image: cccs/assemblyline-service-fsecure:latest
    environment:
      - SERVICE_API_HOST=http://al_service_server:5003

  # IPArse service
  alsvc_iparse:
    image: cccs/assemblyline-service-iparse:latest
    environment:
      - SERVICE_API_HOST=http://al_service_server:5003

  # MetaDefender service
  alsvc_metadefender:
    image: cccs/assemblyline-service-metadefender:latest
    environment:
      - SERVICE_API_HOST=http://al_service_server:5003

  # MetaPeek service
  alsvc_metapeek:
    image: cccs/assemblyline-service-metapeek:latest
    environment:
      - SERVICE_API_HOST=http://al_service_server:5003

  # Oletools service
  alsvc_oletools:
    image: cccs/assemblyline-service-oletools:latest
    environment:
      - SERVICE_API_HOST=http://al_service_server:5003

  # PDFId service
  alsvc_pdfid:
    image: cccs/assemblyline-service-pdfid:latest
    environment:
      - SERVICE_API_HOST=http://al_service_server:5003

  # PeePDF service
  alsvc_peepdf:
    image: cccs/assemblyline-service-peepdf:latest
    environment:
      - SERVICE_API_HOST=http://al_service_server:5003

  # PEFile service
  alsvc_pefile:
    image: cccs/assemblyline-service-pefile:latest
    environment:
      - SERVICE_API_HOST=http://al_service_server:5003

  # Suricata service
  alsvc_suricata:
    image: cccs/assemblyline-service-suricata:latest
    environment:
      - SERVICE_API_HOST=http://al_service_server:5003

  # Swiffer service
  alsvc_swiffer:
    image: cccs/assemblyline-service-swiffer:latest
    environment:
      - SERVICE_API_HOST=http://al_service_server:5003

  # TagCheck service
  alsvc_tagcheck:
    image: cccs/assemblyline-service-tagcheck:latest
    environment:
      - SERVICE_API_HOST=http://al_service_server:5003

  # TorrentSlicer service
  alsvc_torrentslicer:
    image: cccs/assemblyline-service-torrentslicer:latest
    environment:
      - SERVICE_API_HOST=http://al_service_server:5003

  # Unpacker service
  alsvc_unpacker:
    image: cccs/assemblyline-service-unpacker:latest
    environment:
      - SERVICE_API_HOST=http://al_service_server:5003

  # ViperMonkey service
  alsvc_vipermonkey:
    image: cccs/assemblyline-service-vipermonkey:latest
    environment:
      - SERVICE_API_HOST=http://al_service_server:5003

  # VirusTotalDynamic service
  alsvc_virustotal_dynamic:
    image: cccs/assemblyline-service-virustotal-dynamic:latest
    environment:
      - SERVICE_API_HOST=http://al_service_server:5003

  # VirusTotalStatic service
  alsvc_virustotal_static:
    image: cccs/assemblyline-service-virustotal-static:latest
    environment:
      - SERVICE_API_HOST=http://al_service_server:5003

  # Yara service
  alsvc_yara:
    image: cccs/assemblyline-service-yara:latest
    environment:
      - SERVICE_API_HOST=http://al_service_server:5003

networks:
  default:
    external: true
    name: al_svc