# Add any directories, files, or patterns you don't want to be tracked by version control

# IDE files
.pydevproject
.coverage
.python-version
.idea

# Testing artifacts
.pytest_cache
htmlcov
.coverage

# OS Files
ehthumbs.db
Thumbs.db

# Build artifacts
build/
dist/
*.py[cod]
*.egg-info
