
image: python:3.6.6

pipelines:
  default:
    - step:
        caches:
          - pip
        script:
          - pip install -r assemblyline/requirements.txt -r test/requirements.txt
          - pytest -rsx test/test_datastore.py -k test_riak
        services:
          #- zookeeper
          - riak
          #- redis
          #- elasticsearch
          #- solr

definitions:
  services:
    elasticsearch:
      image: sgaroncse/elasticsearch:6.4.2
      memory: 512
      environment:
        ES_JAVA_OPTS: '-Xms128m -Xmx128m'
        DISCOVERY_TYPE: 'single-node'
    redis:
      image: redis
      memory: 512
    riak:
      image: sgaroncse/riak-kv:2.1.4-al
      memory: 2048
      environment:
        CLUSTER_NAME: riakkv
        SOLR_HEAP: '-Xms128m -Xmx128m'
    zookeeper:
      image: zookeeper
      memory: 512
    solr:
      image: solr:7.5-alpine
      memory: 512
      environment:
        ZK_HOST: 'localhost:2181'
        SOLR_JAVA_MEM: '-Xms128m -Xmx128m'
