
options:
  max-time: 10

pipelines:
  default:
    - parallel:
      - step:
          name: Build & Test 3.7
          image: python:3.7
          caches: &caches
            - pip
          script: &build_test
            - mkdir -p /etc/assemblyline/
            - mkdir -p /var/cache/assemblyline/
            - cp test/bitbucket/config.yml /etc/assemblyline
            - apt update
            - apt install -y build-essential libffi-dev libfuzzy-dev python3-dev
            - pip install -e . -r test/requirements.txt
            - pytest -rsx -vv
          services: &services
            - zookeeper
            - redis
            - elasticsearch
            - solr
#      - step:
#          name: Build & Test 3.8
#          image: python:3.8-rc
#          caches: *caches
#          script: *build_test
#          services: *services
  tags:
    v*:
      - step:
          name: Build Package
          image: python:3.7
          script:
            - pip install wheel
            - python setup.py bdist_wheel
            - ls dist/
          artifacts:
            - dist/*
      - parallel:
        - step:
            name: Test 3.7
            image: python:3.7
            script: &deploy_test
              - rm -rf assemblyline setup.py  # Make sure we are running on the package from the prior build
              - apt update
              - apt install -y build-essential libffi-dev libfuzzy-dev python3-dev
              - pip install -f dist assemblyline
              - mkdir -p /etc/assemblyline/
              - mkdir -p /var/cache/assemblyline/
              - cp test/bitbucket/config.yml /etc/assemblyline
              - pip install -r test/requirements.txt
              - pytest -rsx -vv
            caches: *caches
            services: *services
#        - step:
#            name: Test 3.8
#            image: python:3.8-rc
#            script: *deploy_test
#            caches: *caches
#            services: *services
      - step:
          name: Deploy to Test PyPI
          image: python:3.7
          deployment: test_pypi
          caches: *caches
          script:
            - pip install twine
            - ls dist
            - twine upload --skip-existing --repository-url $TEST_REPOSITORY_URL dist/*
      - step:
          name: Deploy to PyPI
          image: python:3.7
          trigger: manual
          deployment: pypi
          caches: *caches
          script:
            - pip install twine
            - ls dist
            - twine upload --skip-existing dist/*
      - step:
          name: Deploy to Docker Hub
          image: python:3.7
          trigger: manual
          services: [docker]
          deployment: container
          script:
            - export TAG=${BITBUCKET_TAG#v}
            - until pip install assemblyline== 2>&1 | grep -q $TAG; do sleep 2; pip install assemblyline== 2>&1 || true; done
            - docker login -u $DOCKER_HUB_USER -p $DOCKER_HUB_PASSWORD
            - docker build --build-arg version=$TAG -t cccs/assemblyline:$TAG -t cccs/assemblyline:latest .
            - docker push cccs/assemblyline
definitions:
  services:
    elasticsearch:
      image: sgaroncse/elasticsearch:7.3.0
      memory: 768
      environment:
        ES_JAVA_OPTS: '-Xms256m -Xmx256m'
        DISCOVERY_TYPE: 'single-node'

    redis:
      image: redis
      memory: 256

    zookeeper:
      image: zookeeper
      memory: 512

    solr:
      image: solr:7.5-alpine
      memory: 768
      environment:
        ZK_HOST: 'localhost:2181'
        SOLR_JAVA_MEM: '-Xms256m -Xmx256m'
