
image: python:3.6

options:
  max-time: 10
pipelines:
  default:
    - step:
        caches:
          - pip
        script:
          - apt update
          - apt install -y build-essential libffi-dev libfuzzy-dev python3-dev docker-compose
          - (cd test && docker-compose up)
          - pip install -r assemblyline/requirements.txt -r test/requirements.txt
          - pip install pytest-error-for-skips  # Special for the pipeline where we know none should skip
          - pytest -rsx --error-for-skips
        services:
          - docker

definitions:
  services:
    - docker