version: '2.4'

services:
  # Service server
  al_service_server:
    image: cccs/assemblyline_dev:4.0.17
    ports:
      - '5003:5003'
    volumes:
      - ${PATH_REWRITE:-.}/config/:/etc/assemblyline/
      - ${ROOT_REWRITE:-../../..}/:/opt/alv4/
    working_dir: /opt/alv4/
    command: python3 /opt/alv4/assemblyline-service-server/assemblyline_service_server/app.py
    networks:
      - default
      - registration

  # Create test data
  create_test_data:
    image: cccs/assemblyline_dev:4.0.17
    environment:
      DEV_ADMIN_PASS: $DEV_ADMIN_PASS
      DEV_USER_PASS: $DEV_USER_PASS
    volumes:
      - ${PATH_REWRITE:-.}/config/:/etc/assemblyline/
      - ${ROOT_REWRITE:-../../..}/:/opt/alv4/
    working_dir: /opt/alv4/assemblyline-base/assemblyline/odm/random_data/
    command: python3 create_test_data.py nosvc nosigs

  # UI
  al_ui:
    image: cccs/assemblyline_dev:4.0.17
    ports:
      - '5000:5000'
    volumes:
      - ${PATH_REWRITE:-.}/config/:/etc/assemblyline/
      - ${ROOT_REWRITE:-../../..}/:/opt/alv4/
    working_dir: /opt/alv4/assemblyline-ui/assemblyline_ui/
    command: python3 app.py

  # SocketIO Server
  al_socketio:
    image: cccs/assemblyline_dev:4.0.17
    ports:
      - '5002:5002'
    volumes:
      - ${PATH_REWRITE:-.}/config/:/etc/assemblyline/
      - ${ROOT_REWRITE:-../../..}/:/opt/alv4/
    working_dir: /opt/alv4/assemblyline-ui/assemblyline_ui/
    command: python3 socketsrv.py

  # Alerter
  al_alerter:
    image: cccs/assemblyline_dev:4.0.17
    volumes:
      - ${PATH_REWRITE:-.}/config/:/etc/assemblyline/
      - ${ROOT_REWRITE:-../../..}/:/opt/alv4/
    command: python3 /opt/alv4/assemblyline-core/assemblyline_core/alerter/run_alerter.py
    healthcheck:
      test: ["CMD", "find", "/tmp/heartbeat", "-newermt", "-30 seconds"]

  # Expiry
  al_expiry:
    image: cccs/assemblyline_dev:4.0.17
    volumes:
      - ${PATH_REWRITE:-.}/config/:/etc/assemblyline/
      - ${ROOT_REWRITE:-../../..}/:/opt/alv4/
    command: python3 /opt/alv4/assemblyline-core/assemblyline_core/expiry/run_expiry.py
    healthcheck:
      test: ["CMD", "find", "/tmp/heartbeat", "-newermt", "-30 seconds"]

  # Elasticsearch Metrics
  al_elastic_metrics:
    image: cccs/assemblyline_dev:4.0.17
    volumes:
      - ${PATH_REWRITE:-.}/config/:/etc/assemblyline/
      - ${ROOT_REWRITE:-../../..}/:/opt/alv4/
    command: python3 /opt/alv4/assemblyline-core/assemblyline_core/metrics/es_metrics.py
    healthcheck:
      test: ["CMD", "find", "/tmp/heartbeat", "-newermt", "-30 seconds"]

  # Metrics aggregator
  al_metrics:
    image: cccs/assemblyline_dev:4.0.17
    volumes:
      - ${PATH_REWRITE:-.}/config/:/etc/assemblyline/
      - ${ROOT_REWRITE:-../../..}/:/opt/alv4/
    command: python3 /opt/alv4/assemblyline-core/assemblyline_core/metrics/run_metrics_aggregator.py
    healthcheck:
      test: ["CMD", "find", "/tmp/heartbeat", "-newermt", "-30 seconds"]

  # Hearbeat manager
  al_heartbeat:
    image: cccs/assemblyline_dev:4.0.17
    volumes:
      - ${PATH_REWRITE:-.}/config/:/etc/assemblyline/
      - ${ROOT_REWRITE:-../../..}/:/opt/alv4/
    command: python3 /opt/alv4/assemblyline-core/assemblyline_core/metrics/run_heartbeat_manager.py
    healthcheck:
      test: ["CMD", "find", "/tmp/heartbeat", "-newermt", "-30 seconds"]

  # Stats aggregator
  al_stats:
    image: cccs/assemblyline_dev:4.0.17
    volumes:
      - ${PATH_REWRITE:-.}/config/:/etc/assemblyline/
      - ${ROOT_REWRITE:-../../..}/:/opt/alv4/
    command: python3 /opt/alv4/assemblyline-core/assemblyline_core/metrics/run_statistics_aggregator.py
    healthcheck:
      test: ["CMD", "find", "/tmp/heartbeat", "-newermt", "-30 seconds"]

  # Workflow
  al_workflow:
    image: cccs/assemblyline_dev:4.0.17
    volumes:
      - ${PATH_REWRITE:-.}/config/:/etc/assemblyline/
      - ${ROOT_REWRITE:-../../..}/:/opt/alv4/
    command: python3 /opt/alv4/assemblyline-core/assemblyline_core/workflow/run_workflow.py
    healthcheck:
      test: ["CMD", "find", "/tmp/heartbeat", "-newermt", "-30 seconds"]

  # Watcher
  al_watcher:
    image: cccs/assemblyline_dev:4.0.17
    volumes:
      - ${PATH_REWRITE:-.}/config/:/etc/assemblyline/
      - ${ROOT_REWRITE:-../../..}/:/opt/alv4/
    command: python3 /opt/alv4/assemblyline-core/assemblyline_core/watcher/run_watcher.py
    healthcheck:
      test: ["CMD", "find", "/tmp/heartbeat", "-newermt", "-30 seconds"]

  al_plumber:
    image: cccs/assemblyline_dev:4.0.17
    volumes:
      - ${PATH_REWRITE:-.}/config/:/etc/assemblyline/
      - ${ROOT_REWRITE:-../../..}/:/opt/alv4/
    command: python3 /opt/alv4/assemblyline-core/assemblyline_core/plumber/run_plumber.py
    healthcheck:
      test: ["CMD", "find", "/tmp/heartbeat", "-newermt", "-30 seconds"]

  # Dispatcher processes
  al_dispatcher_files:
    image: cccs/assemblyline_dev:4.0.17
    volumes:
      - ${PATH_REWRITE:-.}/config/:/etc/assemblyline/
      - ${ROOT_REWRITE:-../../..}/:/opt/alv4/
    environment:
      SKIP_SERVICE_SETUP: 'true'
    command: python3 /opt/alv4/assemblyline-core/assemblyline_core/dispatching/run_files.py
    healthcheck:
      test: ["CMD", "find", "/tmp/heartbeat", "-newermt", "-30 seconds"]

  al_dispatcher_submissions:
    image: cccs/assemblyline_dev:4.0.17
    volumes:
      - ${PATH_REWRITE:-.}/config/:/etc/assemblyline/
      - ${ROOT_REWRITE:-../../..}/:/opt/alv4/
    environment:
      SKIP_SERVICE_SETUP: 'true'
    command: python3 /opt/alv4/assemblyline-core/assemblyline_core/dispatching/run_submissions.py
    healthcheck:
      test: ["CMD", "find", "/tmp/heartbeat", "-newermt", "-30 seconds"]

  # Ingester Processes
  al_ingester_ingest:
    image: cccs/assemblyline_dev:4.0.17
    volumes:
      - ${PATH_REWRITE:-.}/config/:/etc/assemblyline/
      - ${ROOT_REWRITE:-../../..}/:/opt/alv4/
    command: python3 /opt/alv4/assemblyline-core/assemblyline_core/ingester/run_ingest.py
    healthcheck:
      test: ["CMD", "find", "/tmp/heartbeat", "-newermt", "-30 seconds"]

  al_ingester_internal:
    image: cccs/assemblyline_dev:4.0.17
    volumes:
      - ${PATH_REWRITE:-.}/config/:/etc/assemblyline/
      - ${ROOT_REWRITE:-../../..}/:/opt/alv4/
    command: python3 /opt/alv4/assemblyline-core/assemblyline_core/ingester/run_internal.py
    healthcheck:
      test: ["CMD", "find", "/tmp/heartbeat", "-newermt", "-30 seconds"]

  al_ingester_submit:
    image: cccs/assemblyline_dev:4.0.17
    volumes:
      - ${PATH_REWRITE:-.}/config/:/etc/assemblyline/
      - ${ROOT_REWRITE:-../../..}/:/opt/alv4/
    command: python3 /opt/alv4/assemblyline-core/assemblyline_core/ingester/run_submit.py
    healthcheck:
      test: ["CMD", "find", "/tmp/heartbeat", "-newermt", "-30 seconds"]

# You can use this if you want a jupyter notebook to debug something in development
#  notebook:
#    image: cccs/assemblyline_management:latest
#    volumes:
#      - ./config/:/etc/assemblyline/
#      - ../../../:/opt/alv4/
#      - ../../../notebook_data/:/var/lib/assemblyline/jupyter/data/
#    ports:
#      - "8888:8888"

networks:
  default:
    external: true
    name: external
  registration:
    driver: bridge
    name: al_registration